@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Hello @User.Identity.GetUserName()! @(User.IsInRole("Admin") ? "(Admin)" : "")
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href=@Url.Action("Index", "Manage")>
                        <span class="glyphicon glyphicon-edit"></span> Manage account
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("MyAdvertisements", "Advertisements")>
                        <span class="glyphicon glyphicon-list"></span> Manage advertisements
                    </a>
                </li>
                <li>
                    <a href=@Url.Action("AddAdvertisement", "Advertisements")>
                        <span class="glyphicon glyphicon-plus"></span> Add advertisement
                    </a>
                </li>
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <span class="glyphicon glyphicon-log-out"></span> Log off
                    </a>                    
                </li>
            </ul>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
