@model SecondHand.Web.Areas.Chats.Models.Chats.ChatRoomViewModel

<h1>Chat for advertisement: @Model.AdvertisementTitle</h1>

<ul id="messages">
    @foreach (var message in Model.Messages)
    {
        @Html.Partial("_ChatMessage", message)
    }
</ul>

@using (Ajax.BeginForm(
    actionName: "AddMessage",
    controllerName: "Chats",
    routeValues: new { area = "Chats" },
    ajaxOptions: new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "messages" }
    ))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("chatId", Model.Id, new { id = "chat-id" })
    @Html.TextBox("text")
    
    <input type="submit" value="Send"/>
}

@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script>
            const chatId = $('#chat-id').val();

            const filterNotificationsRequest = () => {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        method: 'POST',
                        url: '/chats/chats/removenotification',
                        data: {
                            chatId: chatId
                        },
                        dataType: 'json',
                        success: resolve,
                        error: reject
                    });
                });
            };


            const hub = $.connection.notificationHub;
            hub.filterNotifications = () => {
                filterNotificationsRequest()
                    .then(() => {
                        console.log('Filtered.');
                    });
            };
        </script>
    }    
}