@model SecondHand.Web.Areas.Chats.Models.Chats.ChatRoomViewModel

<h1>Chat for advertisement: @Model.AdvertisementTitle</h1>

<ul id="messages">
    @foreach (var message in Model.Messages)
    {
        @Html.Partial("_ChatMessage", message)
    }
</ul>

@using (Ajax.BeginForm(
    actionName: "AddMessage",
    controllerName: "Chats",
    routeValues: new { area = "Chats" },
    ajaxOptions: new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.InsertAfter, UpdateTargetId = "messages" }
    ))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("chatId", Model.Id)
    @Html.TextBox("text")
    
    <input type="submit" value="Send"/>
}