@model SecondHand.ViewModels.Manage.ChangeUserDetailsViewModel

@using (Html.BeginForm("ChangeDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    if (User.IsInRole("Person"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
            </div>
        </div>
    }
    else if (User.IsInRole("Firm"))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.FirmName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirmName, new { @class = "form-control" })
            </div>
        </div>
    }




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Change details" class="btn btn-default" />
        </div>
    </div>
}