@model SecondHand.Web.Models.Advertisements.AdvertisementIndexViewModel
@using SecondHand.Web.Infrastructure
@using SecondHand.Services.Data.Common

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    @{ 
        var queryDictionary = Request.QueryString.ToRouteValueDictionaryPaging(0);

        var sortProperty = "createdOn";
        var sortType = "descending";

        if (queryDictionary.ContainsKey("sortProperty"))
        {
            sortProperty = queryDictionary["sortProperty"].ToString();
        }

        if (queryDictionary.ContainsKey("sortType"))
        {
            sortType = queryDictionary["sortType"].ToString();
        }
    }

    @using (Html.BeginForm("Index", "Advertisements", FormMethod.Get))
    {
        <div class="filter-label">Sort:</div>
        foreach (var prop in Model.SortableProperties)
        {
            <div class="radio">
                @if (prop.ToLower() == sortProperty.ToLower())
                {
                    <label>@Html.RadioButtonFor(x => x.SortProperty, prop, new { @checked = "checked" }) @prop</label>
                }
                else
                {
                    <label>@Html.RadioButtonFor(x => x.SortProperty, prop) @prop</label>
                }

            </div>
        }

        <div class="filter-label">Sort type:</div>
        foreach (var type in Model.SortTypes)
        {
            <div class="radio">
                @if (type.ToString().ToLower() == sortType)
                {
                    <label>@Html.RadioButtonFor(x => x.SortType, type, new { @checked = "checked" }) @type</label>
                }
                else
                {
                    <label>@Html.RadioButtonFor(x => x.SortType, type) @type</label>
                }
            </div>
        }

        <div class="filter-label">
            <input id="submit-btn" type="submit" class="btn btn-info" value="Filter"/>
        </div>
    }
</div>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Filter</span>
</div>
