@using SecondHand.Web.Infrastructure
@model SecondHand.Web.Models.Advertisements.AdvertisementIndexViewModel
@{
    ViewBag.Title = "Advertisements";
}

@section styles {
    @Styles.Render("~/Content/sidenav")
}

@section scripts {
    @Scripts.Render("~/custom/sidenav")
}

<div class="container-fluid">
    @Html.Partial("_FilterSidenav")

    @foreach (var ad in Model.Advertisements)
    {
        @Html.DisplayFor(_ => ad)
    }
</div>

<ul class="pagination">
    @{
        object queryParams = new { };
    }

    @for (int i = 0; i < Model.PageCount; i++)
    {
        <li>@Html.ActionLink((i + 1).ToString(), "Index", Request.QueryString.ToRouteValueDictionaryPaging(i + 1))</li>
    }
</ul>